th {
	border-bottom: 1px solid gray;
}

td, th {
	padding: 10px 25px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.FooterLayout {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: black;
	padding: 10px;
}

.FooterLayout * {
	color: white;
}